.side-bar {
  background-color: #393a44;
  min-width: 200px;
}
.testing h2{
  color: rgb(153, 152, 152);
}
.stack{ 
  position:relative;
  cursor: pointer;
  display: block;
  width: 35px;
  text-decoration: none;
  box-shadow: none;
  appearance: none;
  border: none;
  background: none;
  outline: none;
}

.stack .bar, .stack:after, .stack:before{
  width: 23px;
  height: 2px;
  content: "";
  display: block;
  background-color: white;
  transition: .4s;
  margin: 5px 0px;
  
}
.stack:focus{
  outline: none;
}

.stack.is-active:before{
  transform: rotate(-45deg) translate(-3.5px, 5px);
}
.stack.is-active:after{
  transform: rotate(45deg) translate(-4.25px,-6px);
}
.stack.is-active .bar{
  opacity: 0;
}

.navTop{
  width: 100%;
  padding-right: 0px;
  padding-left: 0%;
  margin: 0px;
  /* position: absolute;
  z-index: 1;
  background-color: green; */
}

.testing{
  background-color: grey;
  height: fit-content;
  padding: 0px;
  margin-left: 0;
}

#accordionSidebar{
  border-radius: 0px 0px 10px 10px;
}

.list{
  z-index: 1;
  position: absolute;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: .4s;
  transition: all 0.5s ease;
  transform: translateY(-50%);
  background-color: darkgray;
  /* position: relative; */
  margin-top: 1rem;
  padding-left: 5px ;
  /* display: none; */
}

.disappear{
  align-items: center;
  transform: translateY(11.3%);
  visibility: visible;
  /* background-color: grey; */
  opacity: .98;
  display: block;
}
.googlines{
  padding-left: 20%;
}

.searchBtn{
  background-color: white;
  border: solid;
  border-width: 1px;
  border-radius: 0 20px 20px 0;
  transition: .2s;
}

.searchForm input[name=mobile_number] {
  border:solid;
  border-width: 1px;
  transition: .2s;
} 

.searchForm .searchBtn{
  border-left: solid;
}
.searchForm input:hover{
  transition: .5s;
}

.searchBtn:hover{
  box-shadow: inset 0px .5px 1px,0px .5px 1px; ;
  /* box-shadow:  0px .5px 1px; */
}

.tableForm{
  box-shadow: 5px 10px 10px 1px;
  border:solid;
  padding: 20px 10px 5px 10px;
  width: 350px;
  border-radius: 10px;
  border-width: 1px;
  background-color: #BAD1CD;
}

.tableForm input{
  transition: .2s;
  padding-left: 10px;
  border-radius: 10px;
  border-width: 1px;
}

.tableForm input:hover,input:focus{
  outline: none;
  background-color: #c2d9d5;
}

.tableForm button{
  outline: none;
  border: none;
  background-color: #BAD1CD;
  transition: .3s;
}
.tableForm p{
  color:white;
  transition: .3s;
}
.tableForm button:hover p{
  color: #F2D1C9;
}

.editForm{
  background-color: #BAD1CD;
  border:solid;
  border-radius: 15px;
  box-shadow: 5px 10px 10px 1px;
}
.editForm input{
  transition: .4s;
  
}
.editForm input[name=first_name]{
  
  padding-left: 10px;
  border-radius: 15px 0px 0px 15px;
  border-width: 1px;
}
.editForm input[name=last_name]{
  border-radius: 0px 15px 15px 0px;
  border-width: 1px;
}
.editForm input[name=mobile_number], input[name=reservation_date],input[name=reservation_time]{
  border-radius: 15px 15px 15px 15px ;
  border-width:1px;
  padding-left: 10px;
}
.editForm button{
  background-color: #BAD1CD;
  border:none;
  color: white;
  transition: .4s;
}
.editForm button:hover{
  color:#F2D1C9
}

.seating{
  display: flex;
  justify-content: center;
  
}
.seating form{
  border: solid;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 10px 10px 1px;
  background-color: #BAD1CD;
}

.seating p{
  margin:0;
  color:white;
}
.seating button{
  background-color: #BAD1CD;
  border:none;
  color: white;
  transition: .4s;
}
.seating button:hover{
  color:#F2D1C9
}