.bookOut{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: fit-content;
}

.ReservationCss{
    height: 100px;
    display: flex;
    border-style:groove;
    border-radius: 5px;
    padding-bottom: px;
}

.middle{
    display: flex;
    justify-content: space-around;
}

.top{
    align-content: center;
    justify-content: space-between;
    justify-items: sp ;
}

.bottom{
    height: 33%;
    display: flex;
    justify-content: center;
}